<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fb.xujimanage.dao.EnvironmentVideoRelateDao">

    <resultMap id="EnvironmentVideoRelate" type="com.fb.xujimanage.entity.EnvironmentVideoRelate">
        <result column="id" property="id"/>
        <result column="environment_id" property="environmentId"/>
        <result column="video_id" property="videoId"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `environment_id`,
        `video_id`
    </sql>

    <insert id="insert" parameterType="com.fb.xujimanage.entity.EnvironmentVideoRelate">
        INSERT INTO environment_video_relate (
            `id`,
            `environment_id`,
            `video_id`
        )
        VALUES(
            #{id},
            #{environmentId},
            #{videoId}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        DELETE FROM environment_video_relate
        WHERE `id` = #{id}
    </delete>

    <delete id="deleteEnvironmentVideoRelateById" parameterType="java.util.Map">
        DELETE FROM environment_video_relate
        WHERE environment_id = #{environmentId}
        <if test="videoIds!=null and videoIds.length>0">
            and video_id in
            <foreach collection="videoIds" index="index" item="videoId" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
    </delete>

    <update id="update" parameterType="com.fb.xujimanage.entity.EnvironmentVideoRelate">
        UPDATE environment_video_relate
        SET
            id = #{id},
            environment_id = #{environmentId},
            video_id = #{videoId}
        WHERE `id` = #{id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="EnvironmentVideoRelate">
        SELECT
        <include refid="Base_Column_List"/>
        FROM environment_video_relate
        WHERE `id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="EnvironmentVideoRelate">
        SELECT
        <include refid="Base_Column_List"/>
        FROM environment_video_relate
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM environment_video_relate
    </select>

</mapper>
