<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fb.xujimanage.dao.ImageDao">

    <resultMap id="Image" type="com.fb.xujimanage.entity.Image">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="url" property="url"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="sort_num" property="sortNum"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `name`,
        `address`,
        `url`,
        `del_flag`,
        `create_by`,
        `update_by`,
        `create_time`,
        `update_time`,
        `sort_num`,
        `remarks`
    </sql>

    <insert id="insert" parameterType="com.fb.xujimanage.entity.Image">
        INSERT INTO image (
            `id`,
            `name`,
            `address`,
            `url`,
            `del_flag`,
            `create_by`,
            `update_by`,
            `create_time`,
            `update_time`,
            `sort_num`,
            `remarks`
        )
        VALUES(
            #{id},
            #{name},
            #{address},
            #{url},
            #{delFlag},
            #{createBy},
            #{updateBy},
            #{createTime},
            #{updateTime},
            #{sortNum},
            #{remarks}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        DELETE FROM image
        WHERE `id` = #{id} and del_flag = 0
    </delete>

    <update id="deleteImage">
        UPDATE image SET del_flag = 1 WHERE `id` = #{imgId}
    </update>

    <update id="batchDeleteImage" parameterType="long">
        UPDATE image SET del_flag = 1 WHERE `id` in
        <foreach collection="imgIds" index="index" item="imgId" open="(" separator="," close=")">
            #{imgId}
        </foreach>
    </update>

    <update id="update" parameterType="com.fb.xujimanage.entity.Image">
        UPDATE image SET
        <if test="name !=null and name !=''">
            name = #{name},
        </if>
        <if test="address !=null and address !=''">
            address = #{address},
        </if>
        <if test="url !=null and url !=''">
            url = #{url},
        </if>
        <if test="updateBy !=null and updateBy !=''">
            update_by = #{updateBy},
        </if>
        <if test="sortNum !=null">
            sort_num = #{sortNum},
        </if>
        <if test="remarks !=null and remarks !=''">
            remarks = #{remarks},
        </if>
        update_time = sysdate()
        WHERE `id` = #{id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="Image">
        SELECT
        <include refid="Base_Column_List"/>
        FROM image
        WHERE `id` = #{id}
    </select>

    <select id="listImageByLeavewordId" parameterType="long" resultType="com.fb.xujimanage.entity.Image">
        SELECT im.*
        FROM leaveword_img_relate ir inner join image im
        on ir.img_id = im.id and ir.leaveword_id =#{leavewordId}
        where im.del_flag = 0
    </select>

    <insert id="addImage">
        INSERT INTO image (
        `id`,
        `name`,
        `address`,
        <if test="url !=null and url !=''">
            `url`,
        </if>
        `del_flag`,
        `create_by`,
        `update_by`,
        `create_time`,
        `update_time`,
        <if test="sortNum !=null">
            `sort_num`,
        </if>
        `remarks`
        )
        VALUES(
        #{id},
        #{name},
        #{address},
        <if test="url !=null and url !=''">
            #{url},
        </if>
        0,
        #{createBy},
        #{updateBy},
        sysdate(),
        sysdate(),
        <if test="sortNum !=null">
            #{sortNum},
        </if>
        #{remarks}
        )
    </insert>

</mapper>
