<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fb.xujimanage.dao.ImgCollectDao">
    <insert id="addImgCollect">
        INSERT INTO
        img_collect (
        `id`, `type`, `name`, `general`,`del_flag`, `create_by`,
        `update_by`, `create_time`, `update_time`, `remarks`
        )
        VALUES(
        #{id}, #{type}, #{name}, #{general}, 0, #{createBy}, #{updateBy}, sysdate(), sysdate(), #{remarks} )
    </insert>

    <update id="updateImgCollect" parameterType="com.fb.xujimanage.entity.ImgCollect">
        UPDATE img_collect
        SET
        <if test="type !=null">
            type = #{type},
        </if>
        <if test="general !=null">
            general = #{general},
        </if>
        <if test="name !=null and name !=''">
            name = #{name},
        </if>
        <if test="updateBy !=null and updateBy !=''">
            update_by = #{updateBy},
        </if>
        <if test="remarks !=null and remarks !=''">
            remarks = #{remarks},
        </if>
        update_time = sysdate()
        WHERE `id` = #{id}
    </update>

    <update id="deleteImgCollect">
        UPDATE img_collect SET del_flag = 1 WHERE `id` = #{id}
    </update>

    <select id="pageImgCollect" parameterType="string" resultType="com.fb.xujimanage.entity.vo.ImgCollectVo">
        SELECT ic.*,im.sort_num,im.address,im.url,ir.img_id FROM img_collect ic
        LEFT JOIN img_collect_relate ir ON ic.`id` = ir.`collect_id`
        LEFT JOIN image im ON ir.`img_id` = im.`id`
        WHERE ic.`del_flag` = 0 AND im.`del_flag` = 0
        <if test="type !=null">
            AND ic.`type` = #{type}
        </if>
        <if test="name !=null and name !=''">
            AND ic.`name` like CONCAT(CONCAT('%', #{name}), '%')
        </if>
        order by im.sort_num desc,ic.update_time desc
    </select>
</mapper>
